{% extends "layout.html" %}
{% block content %}
<div class="margined padded">
    
    <div class="card-container">
        <div class="flex-box card padded margined-small">
            <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='assets/CSClub.png') }}">
            <div class="py-4">
                <h4>Golden Eagle Award</h4><small>Spring 2023</small>
                <p>I was awarded with the most prestious award a student can achieve at the University of North Texas, the Golden Eagle Award, thanks to my work as a student leader. One of my
                    prominent achievements that led me to receive this award was founding three UNT organizations. With over 500 members across all three clubs and over $2,000 in raised funds 
                    from UNT, the clubs continue to exist and be successful today.<br></p>
            </div>
        </div>
        <div class="flex-box card padded margined-small">
            <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='assets/Student_Employee.jpg') }}">
            <div class="py-4">
                <h4>Outstanding Student Employee of the Year</h4><small>Spring 2022</small>
                <p>For the year of 2022, I was awarded the Outstanding Student Employee of the Year award for my work with automating various processes at University of North Texas Student Accounting. These processes including payment plan estimation for 40,000 students, tuition and fee validation for over half a billion dollars in UNT revenue, and master calendar creation for the Student Accounting office.</p>
            </div>
        </div>
        <div class="flex-box card padded margined-small">
            <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='assets/UNTCSDepartment.jpg') }}">
            <div class="py-4">
                <h4>Outstanding Junior in Computer Science</h4><small>Spring 2022</small>
                <p>In the Spring of 2022, I was awarded with the Outstanding Junior in Computer Science award by the College of Engineering due to my work as a student leader in Women in Computing and Computer Science Club.&nbsp;</p>
            </div>
        </div>
        <div class="flex-box card padded margined-small">
            <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{ url_for('static', filename='assets/Gold_Award.jpg') }}">
            <div class="py-4">
                <h4>Girl Scout Gold Award</h4><small>Spring 2019</small>
                <p>I earned the Girl Scout Gold Award, the highest award possible in Girl Scouts, for planning and creating my high school's first theatre program. During this time, I brought in professional directors and managing directors as guest speakers, wrote and performed short plays, and had over 30 members in a 400-student school.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}