{% extends "layout.html" %}
{% block content %}

<div class="margined padded">

    <div class="card padded margined-small">
        <h4>Software Engineering Intern - Bank of America</h4>
        <small>June 2023 - Aug. 2023</small>
        <ul>
            <li>
                Spearheaded testing and deployment of 5 machine learning models for ATM cash usage prediction; recognized with an award for a top-tier intern project
            </li>
            <li>
                Collaborated within an intern team to deliver innovative solutions across 4 distinct projects
            </li>
            <li>
                Successfully transitioned 3 applications to the production environment for end-user functionality
            </li>
            <li>
                Developed a Python-based automation tool to streamline file transfers from production to UAT, enhancing operational efficiency
            </li>
            <li>
                Refactored a critical program by reviewing and optimizing over 100 imported modules; achieved a 2-minute reduction in runtime for a program executed hundreds of times daily
            </li>
            <li>
                Pioneered a Python program to retrieve, format, and display market data and risk to traders on a daily basis, significantly decreasing data access wait times for traders
            </li>
        </ul>
    </div>

    <div class="card padded margined-small">
        <h4>Billing Operations Student Assistant - UNT Student Accounting</h4>
        <small>Mar. 2021 - June 2023</small>
        <ul>
            <li>
                Enhanced the precision of tuition and fee validation across 40,000 accounts by engineering a Python program, significantly reducing validation time from a minimum of one week to 30 minutes
            </li>
            <li>
                Analyzed extensive email data, creating insightful reports through the use of spreadsheets and formulae            </li>
            <li>
                Developed an intuitive application enabling students to preemptively assess installment-based payment plan costs, providing them with financial clarity prior to enrollment            </li>
        </ul>
    </div>

    <div class="card padded margined-small">
        <h4>Research Assistant - UNT Learning Technologies</h4>
        <small>July 2021 - Mar. 2023</small>
        <ul>
            <li>
                Edited a published academic research paper
            </li>
            <li>
                Conducted insightful interviews with research participants, contributing to a study exploring the profound impact of virtual reality on learning experiences
            </li>
            <li>
                Organized documents, spreadsheets, and data while interpreting research survey results and facilitating comprehensive data-driven insights
            </li>
            <li>
                Facilitated a STEM-focused summer camp for young girls, delivering engaging engineering sessions and coordinating guest speaker presentations
            </li>
        </ul>
    </div>
    

</div>

{% endblock %}