{% extends "layout.html" %}
{% block content %}

<div class="margined content">

    <div class="card padded margined-small">
        <h4>Software Engineering Intern - Bank of America</h4>
        <small>Jun 2023 - Aug 2023</small>
        <ul>
            <li>
                Created solutions for 4 projects as a part of an intern team
            </li>
            <li>
                Pushed 3 completed applications to production for use
            </li>
            <li>
                Coded a Python application to automate transferring files from production to UAT
            </li>
            <li>
                Reviewed over 100 imported modules to effectively refactor a program run hundreds of times a day, eliminating 2 minutes of runtime
            </li>
            <li>
                Set up automated jobs to run programs daily
            </li>
        </ul>
    </div>

    <div class="card padded margined-small">
        <h4>Student Assistant - UNT Student Accounting</h4>
        <small>Mar 2021 - Jun 2023</small>
        <ul>
            <li>
                Improved tuition & fee validation for over 40,000 accounts by coding a program in Python, increasing the accuracy of validation and reduced time frame from a week minimum to 30 minutes
            </li>
            <li>
                Analyzed email data and created reports utilizing spreadsheets and formulas
            </li>
            <li>
                Innovated a way for students to view how much their payment plan would cost each installment prior to enrolling in the plan
            </li>
        </ul>
    </div>

    <div class="card padded margined-small">
        <h4>Research Assistant - UNT Learning Technologies</h4>
        <small>Jul 2021 - Mar 2023</small>
        <ul>
            <li>
                Edited a published academic research paper
            </li>
            <li>
                Interviewed research participants for a study involving the impact of virtual reality on learning
            </li>
            <li>
                Organized documents and data and interpreted the results of research surveys
            </li>
            <li>
                Led a summer camp for girls interested in STEM to teach engineering and bring in guest speakers
            </li>
        </ul>
    </div>

</div>

{% endblock %}